In [67]:
import requests
import pandas as pd
import numpy as np

In [68]:
API_KEY='d7e1ed2abc564648890cd7bb22bd552d'

In [69]:
# Calls the url endpoint from the website for gameweek 11 results
url='https://api.football-data.org/v4/competitions/PL/matches?matchday=11'
headers = {
    'X-Auth-Token' : API_KEY
}

In [70]:
response= requests.get(url,headers=headers)

In [71]:
if response.status_code == 200:
    team_data = response.json()
    
    # Extract matches from the JSON response
    matches = team_data['matches']
    
    # Create a list to hold match data
    match_list = []
    
    # Loop through each match and extract relevant information
    for match in matches:
        match_info = {
            'Home Team': match['homeTeam']['name'],
            'Away Team': match['awayTeam']['name'],
            'Home Score': match['score']['fullTime']['home'],
            'Away Score': match['score']['fullTime']['away'],
        }
        match_list.append(match_info)
    
    # Create a DataFrame from the match list
    df = pd.DataFrame(match_list)
    
    # Display the DataFrame in a tabular format(gameweek 11 results)
    print(df)
else:
    print(f'Error: {response.status_code} - {response.text}')

                    Home Team            Away Team  Home Score  Away Score
0                Brentford FC      AFC Bournemouth           3           2
1           Crystal Palace FC            Fulham FC           0           2
2          West Ham United FC           Everton FC           0           0
3  Wolverhampton Wanderers FC       Southampton FC           2           0
4   Brighton & Hove Albion FC   Manchester City FC           2           1
5                Liverpool FC       Aston Villa FC           2           0
6        Manchester United FC    Leicester City FC           3           0
7        Nottingham Forest FC  Newcastle United FC           1           3
8        Tottenham Hotspur FC      Ipswich Town FC           1           2
9                  Chelsea FC           Arsenal FC           1           1

In [72]:
df.isna().sum()

Home Team     0
Away Team     0
Home Score    0
Away Score    0
dtype: int64

In [73]:
df.shape

(10, 4)

In [74]:
df.dtypes

Home Team     object
Away Team     object
Home Score     int64
Away Score     int64
dtype: object

In [75]:
df.loc[df['Away Score']>1]

              Home Team            Away Team  Home Score  Away Score
0          Brentford FC      AFC Bournemouth           3           2
1     Crystal Palace FC            Fulham FC           0           2
7  Nottingham Forest FC  Newcastle United FC           1           3
8  Tottenham Hotspur FC      Ipswich Town FC           1           2